---
title: WYSIWYG Editors
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <h3 class="mt-12 text-2xl font-bold">Rich Text Editors</h3>
  <ul>
    <%= render partial: "components/link", collection: UseCases::Editor.where(category: "rich-text-editor") %>
  </ul>

  <h3 class="mt-12 text-2xl font-bold">Libraries for building Rich Text Editors</h3>
  <ul>
    <%= render partial: "components/link", collection: UseCases::Editor.where(category: "low-level") %>
  </ul>

  <h3 class="mt-12 text-2xl font-bold">Rails</h3>
  <ul>
    <%= render partial: "components/link", collection: UseCases::Editor.where(category: "rails") %>
  </ul>

  <h3 class="mt-12 text-2xl font-bold">Laravel</h3>
  <ul>
    <%= render partial: "components/link", collection: UseCases::Editor.where(category: "laravel") %>
  </ul>
<% end %>
