<% if @title %>
  <h2 class="text-2xl font-bold mt-12 mb-6">
    <% if @all_url %>
      <%= link_to @title, @all_url %>
    <% else %>
      <%= @title %>
    <% end %>
  </h2>
<% end %>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-4">
  <% @resources.each do |resource| %>
    <%= render Page::ResourceCardComponent.new(resource: resource) %>
  <% end %>
</div>

<% if @all_url %>
  <%= link_to @all_url do %>
    View all

    <% if @total && @total > @count %>
      (<%= @total - @count %> more)
    <% end %>

    <span class="tracking-normal text-white ml-1">-&gt;</span>
  <% end %>
<% end %>
