---
title: Getting started with Hotwire in any framework
breadcrumb: Getting started
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <p>Hotwire isn't just for Rails, it works with many popular frameworks, check out installation instructions for your preferred language:</p>

  <ul class="flex space-x-2 pt-4">
    <% FrameworkModel.grouped_by_language.each do |language, pages| %>
    <li> <a class="font-bold bg-white py-1.5 px-2 rounded-lg text-black hover:bg-yellow-500" href="#<%= language %>"><%= language %></a></li>
    <% end %>
  </ul>


  <% FrameworkModel.grouped_by_language.each do |language, pages| %>
    <h2 id="<%= language %>" class="font-bold mb-3 pt-12"><%= language %></h2>

    <ul class="grid md:grid-cols-2 gap-4">
      <% pages.each do |page| %>
        <li class="flex">
          <%= link_to page.request_path, class: "p-6 space-x-6 md:h-39 flex items-center hover:bg-gray-900 border border-gray-800 hover:border-gray-700 rounded-lg w-full" do %>
            <div class="rounded-full max-w-[60px] relative flex justify-center items-center">
              <% if page.image %>
                <%= image_tag image_path(page.image), alt: "#{page.framework} Logo", class: "w-full" %>
              <% elsif page.icon_class %>
                <%= tag.i class: page.icon_class %>
              <% end %>
            </div>

            <div class="space-y-1.5 flex-1">
              <h2 class="font-bold text-xl"><%= page.framework %></h2>
              <p class="text-medium text-gray-400"><%= page.description %></p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
