---
title: Hotwire.io
breadcrumb: Home
---

<div class="flex flex-col min-h-screen">
  <main class="grow">
    <%= render partial: "application/home/hero" %>
    <%= render partial: "application/home/features" %>
    <%= render partial: "application/home/about" %>
    <%= render partial: "application/home/integrations" %>
    <%= render partial: "application/home/ecosystem" %>
    <%= render partial: "application/home/newsletter" %>
  </main>
</div>
