<div class="flex flex-col min-h-screen overflow-hidden">
  <%= render partial: "header" %>

  <main class="grow">
    <%= render partial: "hero" %>
    <%= render partial: "features" %>
    <%= render partial: "about" %>
    <%= render partial: "integrations" %>
    <%= render partial: "ecosystem" %>
    <%= render partial: "newsletter" %>
  </main>

  <%= render partial: "footer" %>
</div>
