---
title: Getting started with Hotwire in Laravel
framework: Laravel
language: PHP
description: PHP web application framework with expressive, elegant syntax.
icon_class: devicon-laravel-plain-wordmark colored text-6xl
breadcrumb: Laravel
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <h3 class="mt-12 text-2xl font-bold">Setup</h3>

  <%= link_to "Turbo Laravel Website & Documentation", "https://turbo-laravel.com", target: :_blank %><br>
  <%= link_to "Stimulus Laravel", "https://github.com/hotwired-laravel/stimulus-laravel", target: :_blank %><br>
  <%= link_to "Importmap Laravel", "https://github.com/tonysm/importmap-laravel", target: :_blank %><br>
  <%= link_to "TailwindCSS Laravel", "https://github.com/tonysm/tailwindcss-laravel", target: :_blank %><br>
  <%= link_to "Rich Text Laravel (Trix)", "https://github.com/tonysm/rich-text-laravel", target: :_blank %><br>

  <h3 class="mt-12 text-2xl font-bold">Guides</h3>

  <%= link_to "LaravelNews Post Introducing Turbo Laravel", "https://laravel-news.com/use-basecamps-hotwire-in-laravel", target: :_blank %><br>
  <%= link_to "Introduction to Hotwire & Turbo Laravel (screencasts - 2021)", "https://www.tonysm.com/courses/hotwire-laravel/", target: :_blank %><br>
<% end %>
