---
title: Stimulus LSP
image: stimulus-lsp.png
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <header class="flex flex-col items-center justify-center px-5 pb-10 mt-16 text-center">

    <h1 class="font-text text-4xl font-bold sm:text-5xl mb-12">More efficient and confident with Stimulus</h1>

    <img class="rounded-lg border border-gray-700 md:max-w-3xl" src="<%= image_path("stimulus-lsp.png") %>">

    <h2 class="max-w-[38ch] pt-8 text-lg text-gray-300 md:text-xl">
      Get helpful hints on controllers, actions, targets, values and a bunch of other Stimulus features.
    </h2>

    <a
      href="/ecosystem/tooling/stimulus-lsp/install"
      class="mt-16 rounded-lg bg-[#77e8b9] px-7 py-4 text-lg font-semibold text-black shadow-xl transition hover:brightness-110">
      Install the extension
    </a>

    <div class="flex flex-wrap items-center justify-center gap-10 pt-16 text-sm text-gray-300 sm:text-base">

      <a href="/ecosystem/tooling/stimulus-lsp/install/vscode" class="flex items-center gap-2 hover:text-gray-400">
        <i class="devicon-vscode-plain text-3xl"></i>

        Visual Studio Code
      </a>

      <a href="/ecosystem/tooling/stimulus-lsp/install/neovim" class="flex items-center gap-2 hover:text-gray-400">
        <i class="devicon-vim-plain text-3xl"></i>

        NeoVim
      </a>

      <a href="/ecosystem/tooling/stimulus-lsp/install" class="flex items-center gap-2 hover:text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M14.447 3.027a.75.75 0 01.527.92l-4.5 16.5a.75.75 0 01-1.448-.394l4.5-16.5a.75.75 0 01.921-.526zM16.72 6.22a.75.75 0 011.06 0l5.25 5.25a.75.75 0 010 1.06l-5.25 5.25a.75.75 0 11-1.06-1.06L21.44 12l-4.72-4.72a.75.75 0 010-1.06zm-9.44 0a.75.75 0 010 1.06L2.56 12l4.72 4.72a.75.75 0 11-1.06 1.06L.97 12.53a.75.75 0 010-1.06l5.25-5.25a.75.75 0 011.06 0z" clip-rule="evenodd" />
        </svg>

        More
      </a>

      <a href="https://github.com/marcoroth/stimulus-lsp" class="flex items-center gap-2 hover:text-gray-400" target="_blank">
        <i class="devicon-github-plain text-3xl"></i>
        Source
      </a>
    </div>
  </header>

  <main class="relative flex w-full flex-col gap-10 overflow-hidden bg-gray-950 py-16 lg:gap-24">
    <section class="mx-auto flex max-w-screen-xl flex-col-reverse items-center justify-center lg:flex-row">
      <div class="max-w-xl p-6 sm:p-10 lg:max-w-none xl:p-24">
        <h3 class="text-3xl font-bold">
          Missing controllers
        </h3>
        <p class="pt-5 text-lg opacity-80">
          Get helpful hints when you are referencing a Stimulus controller that doesn't exist.
        </p>
      </div>

      <div class="-mr-5 flex max-w-2xl flex-shrink-0 items-center justify-center overflow-hidden rounded-lg border border-white/5 shadow-2xl shadow-black/50">
        <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;">
          <img src="<%= image_path("stimulus-intellisense-missing-controllers.png") %>">
        </span>
      </div>
    </section>

    <section class="mx-auto flex max-w-screen-xl flex-col items-center justify-center lg:flex-row lg:justify-start">
      <div class="-ml-3 flex max-w-2xl flex-shrink-0 items-center justify-center overflow-hidden rounded-lg border border-white/5 shadow-2xl shadow-black/50">
        <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;">
          <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;">

            <img src="<%= image_path("stimulus-intellisense-missing-targets.png") %>">
          </span>
        </span>
      </div>

      <div class="max-w-xl p-6 sm:p-10 lg:max-w-none xl:p-24">
        <h3 class="text-3xl font-bold">
          Missing targets
        </h3>
        <p class="pt-5 text-lg opacity-80">
          Did you reference a target on a controller which Stimulus doesn't know about? Get instant warnings so you don't lose time on typos.
        </p>
      </div>
    </section>

      <section class="mx-auto flex max-w-screen-xl flex-col-reverse items-center justify-center lg:flex-row">
        <div class="max-w-xl p-6 sm:p-10 lg:max-w-none xl:p-24">
          <h3 class="text-3xl font-bold">
            Controller action autocomplete
          </h3>
          <p class="pt-5 text-lg opacity-80">
            Always make sure you are referencing the right controller actions.
          </p>
        </div>

        <div class="-mr-5 flex max-w-2xl flex-shrink-0 items-center justify-center overflow-hidden rounded-lg border border-white/5 shadow-2xl shadow-black/50">
          <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;">
            <img src="<%= image_path("stimulus-intellisense-action-autocomplete.png") %>">
          </span>
        </div>
      </section>

  </main>

  <h1 class="md:mt-16 font-text text-2xl text-center font-bold">And so much more!</h1>

  <div class="text-center mt-12">
    <a
      href="/ecosystem/tooling/stimulus-lsp/install"
      class="mt-16 rounded-lg bg-[#77e8b9] px-7 py-4 text-lg font-semibold text-black shadow-xl transition hover:brightness-110">

      Install the extension
    </a>
  </div>
<% end %>
