---
title: Turbo
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_breadcrumbs(page: current_page) %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <div class="grid grid-cols-3">
    <div>
      <h3>Handbook</h3>

      <% TurboHandbookModel.all.sort_by(&:request_path).each do |page| %>
        <li>
          <a href="<%= page.request_path %>"> <%= page.data.fetch("title") %></a>
        </li>
      <% end %>
    </div>

    <div>
      <h3>Reference</h3>

      <% TurboReferenceModel.all.sort_by(&:request_path).each do |page| %>
        <li>
          <a href="<%= page.request_path %>"> <%= page.data.fetch("title") %></a>
        </li>
      <% end %>
    </div>

    <div>
      <h3>Guides</h3>

      <% site.resources.glob("documentation/turbo/guides/*.html.*").sort_by(&:request_path).each do |page| %>
        <li>
          <a href="<%= page.request_path %>"> <%= page.data.fetch("title") %></a>
        </li>
      <% end %>
    </div>
  </div>
<% end %>
