---
title: Turbo
status: done
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-y-6">
    <div>
      <h3 class="font-bold text-lg">Handbook</h3>

      <% TurboHandbookModel.all.sort_by(&:order).each do |page| %>
        <li>
          <a href="<%= page.request_path %>"> <%= page.data.fetch("title") %></a>
        </li>
      <% end %>
    </div>

    <div>
      <h3 class="font-bold text-lg">Reference</h3>

      <% TurboReferenceModel.all.sort_by(&:order).each do |page| %>
        <li>
          <a href="<%= page.request_path %>"> <%= page.data.fetch("title") %></a>
        </li>
      <% end %>
    </div>

    <div>
      <h3 class="font-bold text-lg"><a href="/documentation/turbo/guides">Guides</a></h3>

      <% site.resources.glob("documentation/turbo/guides/*.html.*").sort_by(&:request_path).each do |page| %>
        <li>
          <a href="<%= page.request_path %>"> <%= page.data.fetch("title") %></a>
        </li>
      <% end %>
    </div>
  </div>
<% end %>
