<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>

    <%= vite_javascript_tag "packs/application", media: 'all', "data-turbo-track": "reload" %>
    <%= vite_stylesheet_tag "packs/application", media: 'all', "data-turbo-track": "reload" unless ViteRuby.instance.dev_server_running? %>

    <%= display_meta_tags title: current_page.data["title"] %>

    <script defer data-domain="hotwire.io" src="https://plausible.io/js/plausible.js"></script>
  </head>

  <body class="font-inter antialiased bg-black text-slate-100 tracking-tight">
    <a href="/about" class="text-black flex justify-center items-center bg-yellow-500 w-full p-2 font-medium">
      <div>
        Hotwire.io is a <b>community-driven</b> effort and is <b>not</b> affiliated with the official Hotwire project. Click here to learn more »
      </div>
    </a>

    <div class="flex flex-col min-h-screen overflow-hidden">
      <%= render partial: "header" %>
      <main class="grow">
        <%= yield %>
      </main>
      <%= render partial: "footer" %>
    </div>
  </body>
</html>
